:root {
  /* Default Light Theme */
  --bs-paper-bg: #f5f5f9;
}

[data-bs-theme="dark"] {
  --bs-paper-bg: #232333;
}

body {
  margin: 0;
  background-color: var(--bs-paper-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
